Button{
    padding: 0.6rem 1rem;
    background-color: green;
    border: none;
    border-radius: 8px;
    color: rgb(235, 235, 235);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

Button:hover,
Button:focus-visible{
    opacity: 0.8;
}

Button:active{
    transform: translate(0px, 2px);
}